<div class="search_div">

  <% form_tag(search_for_index_students_url, :method => 'get') do %>
    <%= text_field_tag :search_string, session[:search_string] %>
    <%= submit_tag '搜尋' %>
  <% end %>

</div>
