
<h1><%= I18n.t('student.search.result') %></h1>

<%= render :partial => "students", :object => @students %>

<%= link_to I18n.t('student.back'), :controller => "students", :action => "end_searching" %>
